{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main-index.css') }}">
{% endblock %}

{% block main %}
  <!-- Carousel Hero -->
  <div class="container-fluid hero-wrapper">
    <div class="container-fluid hero">
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="20000">
            <img src="{{ url_for('static', filename='img/header-img.png') }}" class="d-block w-100 img" alt="...">
            <div class="carousel-caption pb-4">
              <h1>GUFC is going national!</h1>
              <p>Our Greenville United Football Club is going national! We are on a mission to take this club to the next level, so please consider helping us by making a donation.</p>
              <a href="{{ url_for('main.show_donate') }}" class="btn carousel-btn">Donate Today</a>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="20000">
            <img src="{{ url_for('static', filename='img/nationals-greenville-united.png') }}" class="d-block img w-100" alt="...">
            <div class="carousel-caption pb-4">
              <h1>Support our team!</h1>
              <p>Visit our team store to help support our club and players. A portion of our proceeds are invested back into the community.</p>
              <a href="{{ url_for('store.show_index') }}" class="btn carousel-btn">Shop Now</a>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="20000">
            <img src="{{ url_for('static', filename='img/youth-skills-camp.jpg') }}" class="d-block w-100 img" alt="...">
            <div class="carousel-caption pb-4">
              <h1>Join our Youth Skills camp!</h1>
              <p>Sign your children up for our skills camps during the summer! Hours of learning and fun with hardworking, skilled players.</p>
              <a href="{{ url_for('community.show_youth') }}" class="btn carousel-btn">Learn More</a>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <!-- Spotlight Section -->
  <div class="container py-5">
    <h2 class="py-2">Spotlight</h2>
    <div class="row g-3 py-4">
      {% for card in cards %}
      <div class="col-lg-4">
        <div class="card mx-auto" style="max-width: 20rem; height: 25rem">
          <img src="{{ card.img_src }}" class="card-img-top " alt="{{ card.img_title }}">
          <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">{{ card.text }}</p>
            <!-- <a href="{{ card.link_url }}" class="btn btn-primary">Read More</a> -->
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- News Section -->
  <!-- <div class="container py-4">
    <h2>News</h2>
    <div class="row g-3" data-masonry='{"percentPosition": true }'>
      {% for card in cards %}
      <div class="col-md-6 col-lg-3">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  
  <!-- Social Media Section -->
  <div class="container py-4">
    <h2>Social Media</h2>
    <ul class="nav nav-tabs" id="socialTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="twitter-tab" data-bs-toggle="tab" data-bs-target="#twitter-tab-pane" type="button" role="tab" aria-controls="twitter-tab-pane" aria-selected="true">Twitter</button>
      </li>
      <!-- <li class="nav-item" role="presentation">
        <button class="nav-link" id="facebook-tab" data-bs-toggle="tab" data-bs-target="#facebook-tab-pane" type="button" role="tab" aria-controls="facebook-tab-pane" aria-selected="false">Facebook</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="instagram-tab" data-bs-toggle="tab" data-bs-target="#instagram-tab-pane" type="button" role="tab" aria-controls="instagram-tab-pane" aria-selected="false">Instagram</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="youtube-tab" data-bs-toggle="tab" data-bs-target="#youtube-tab-pane" type="button" role="tab" aria-controls="youtube-tab-pane" aria-selected="false">YouTube</button>
      </li> -->
    </ul>
    <div class="tab-content py-3" id="socialTabsContent">
      <div class="tab-pane fade show active" id="twitter-tab-pane" role="tabpanel" aria-labelledby="twitter-tab" tabindex="0">
        <a class="twitter-timeline text-decoration-none py-3" data-height="700" href="https://twitter.com/GreenvilleUtd?ref_src=twsrc%5Etfw">Tweets by GreenvilleUtd</a>
      </div>
      <div class="tab-pane fade" id="facebook-tab-pane" role="tabpanel" aria-labelledby="facebook-tab" tabindex="0">
        Facebook Feed Unavailable. Please try again later... 
      </div>
      <div class="tab-pane fade" id="instagram-tab-pane" role="tabpanel" aria-labelledby="instagram-tab" tabindex="0">
        Instagram Feed Unavailable. Please try again later... 
      </div>
      <div class="tab-pane fade" id="youtube-tab-pane" role="tabpanel" aria-labelledby="youtube-tab" tabindex="0">
        YouTube Feed Unavailable. Please try again later... 
      </div>
    </div>
  </div>
  
  <!-- Partners -->
  <div class="container-fluid py-4" id="partners-div">
    <div class="container-sm">
      <h2 class="text-center">Our Partners</h2>
      <div class="container text-center py-4">
        {% for partner in partners %}
        <a href="{{ partner.href }}" target="_blank" class="text-decoration-none">
          <img src="{{ partner.img_src }}" alt="{{ partner.name }}" class="partner-logos">
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
  
  <!-- Local Sponsors -->
  <div class="container-fluid py-4" id="sponsors-div">
    <div class="container-sm">
      <h2 class="text-center">Local Sponsors</h2>
      <div class="container text-center py-4">
        {% for sponsor in sponsors %}
        <a href="{{ sponsor.href }}" target="_blank" class="text-decoration-none">
          <img src="{{ sponsor.img_src }}" alt="{{ sponsor.name }}" class="sponsor-logos">
        </a>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="container pt-5 newsletter">
    <div class="card text-center p-3" id="newsletter">
      <div class="card-body">
        <h5 class="card-title">Team Newsletter</h5>
        <p class="card-text">Sign up for our team newsletter to receive updates about the team, club, and league.<br><small class="muted">You may unsubscribe at any time.</small></p>
      </div>
      <form method="post" action="/about/uc">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
          <label for="email">Email address</label>
          <div class="invalid-feedback">
            Please provide a valid email address.
          </div>
        </div>
        <button class="btn" id="subtn" type="submit">Sign Up</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}