{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tryouts.css') }}">
{% endblock %}

{% block main %}
<div class="container-sm pt-3" style="min-height: 75vh;">
    <div class="container py-3">
        <h1 class="display-5 text-center">Tryout for the team!</h1>
        <p class="py-2 w-75 mx-auto">Do you have sick soccer skills and are interested in joining a team? Use the following steps to register for Greenville United Football Club open tryouts.</p>
    </div>
    <div class="container py-2">
        <h1 class="display-6 py-2">Step 1: Questionnaire</h1>
        <hr>
        <p class="py-2">Complete the questionnaire, <a class="link" href="https://docs.google.com/forms/d/1xXLVFEl0K1DYZ6PVwgl-bp1YY9D1FoVLV1jvZKsF6kQ/edit" target="_blank">here</a>.</p>
    </div>
    <div class="container py-2">
        <h1 class="display-6 py-2">Step 2: Liability Waivers</h1>
        <hr>
        <p class="py-2">Download, complete, and bring the following waivers with you when you attend the tryout!</p>
        <div class="row gx-4">
            <div class="column text-center">
                <a href="../../../static/pdf/Campus-Rec-Liability-Release.pdf" download>
                    <img src="{{ url_for('static', filename='img/Greenville-Logo.png') }}" alt="ECU-Waiver-Icon" class="rounded" height="50px">
                </a>
                <p class="py-2">ECU Recreation Waiver</p>
            </div>
            <div class="column text-center">
                <a href="../../../static/pdf/WAIVER-AND-RELEASE-OF-LIABILITY.pdf" download>
                    <img src="{{ url_for('static', filename='img/Greenville-Logo.png') }}" alt="GUFC-Waiver-Icon" class="rounded" height="50px">
                </a>
                <p class="py-2">Greenville United Waiver</p>
            </div>
        </div>
    </div>
    <div class="container py-2">
        <h1 class="display-6 py-2">Step 3: Pay Fees and Tryout!</h1>
        <hr>
        <p class="py-2">Pay the $45 tryout fee, <a class="link" href="https://store.greenvilleutd.com/products/tryout-fees" target="_blank">here</a>, or you can bring payment with you. If the questionnaire or waivers are not completed and submitted, you will not be able to tryout.</p>
    </div>
    <div class="container py-4 row">
        <div class="col-6">
            <h1 class="pb-2 text-center">Tryout Details</h1>
            <p class="py-0">Date: Saturday February 18, 2023</p>
            <p class="py-0">Location: ECU North Recreational Complex</p>
            <p class="py-0">Address: 3764 US 264 East, Greenville, NC 27834</p>
            <p class="py-0">Time: 2:00pm - 5:30pm</p>
        </div>
        <div class="col-6">
            <div class="mapouter"><div class="gmap_canvas"><iframe width="450" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=3764%20US%20264%20East,%20Greenville,%20NC%2027834&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://embedgooglemap.net/124/"></a><br><style>.mapouter{position:relative;text-align:right;height:300px;width:450px;}</style><a href="https://www.embedgooglemap.net">google maps on my web site</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:450px;}</style></div></div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}{% endblock %}