<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="title" content="{{ title }} - Greenville United Football Club">
  <meta name="author" content="Greenville United Football Club">
  <meta name="description" content="Greenville United is going national! Make a donation today to help us bring our love of the sport to Greenville, and all of Eastern North Carolina.">
  <meta name="keywords" content="greenville, greenville nc, greenville nc soccer, minor league soccer, first flight league, greenville united, greenville united football club, greenville soccer club, greenville soccer team, greenville nc soccer team, greenville nc soccer club, greenville nc futbol team, greenville futbol club, greenville futbol team, greenville nc futbol club">
  {% block meta %}{% endblock %}
  <title>{{ title }} - Greenville United Football Club</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
  {% block css %}{% endblock %}
</head>
<body>
  <div class="container-fluid text-center py-3" style="background-color: var(--gufc-green);">
    <a class="social-nav text-decoration-none" href="https://www.instagram.com/greenvilleunited/" target="_blank">
      <img src="{{ url_for('static', filename='img/instagram.svg') }}" alt="Instagram Icon" class="rounded brand-ico" height="20em">
    </a>
    <a class="social-nav mx-4 text-decoration-none" href="https://twitter.com/GreenvilleUtd" target="_blank">
      <img src="{{ url_for('static', filename='img/twitter.svg') }}" alt="Twitter Icon" class="rounded brand-ico" height="20em">
    </a>
    <a class="social-nav text-decoration-none" href="https://www.facebook.com/greenvilleutd" target="_blank">
      <img src="{{ url_for('static', filename='img/facebook-f.svg') }}" alt="Facebook Icon" class="rounded brand-ico" height="20em">
    </a>
  </div>
  <header class="shadow-sm" style="background-color: var(--gufc-yellow)">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main.show_index') }}">
          <img src="{{ url_for('static', filename='img/Greenville-Logo.png') }}" alt="Greenville United Logo" height="100px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown hoverable">
              <a class="nav-link dropdown-toggle dropdownTitle" href="{{ url_for('about.show_index') }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                About
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('about.show_vmc') }}">Vision, Mission, Core</a></li>
                <li><a class="dropdown-item" href="{{ url_for('about.show_league') }}">League</a></li>
                <li><a class="dropdown-item" href="{{ url_for('about.show_club') }}">Club</a></li>
                <li><a class="dropdown-item" href="{{ url_for('about.show_team') }}">Team</a></li>
                <!-- <li><a class="dropdown-item" href="{{ url_for('about.show_players') }}">Players</a></li> -->
              </ul>
            </li>
            <li class="nav-item dropdown hoverable">
              <a class="nav-link dropdown-toggle dropdownTitle" href="{{ url_for('community.show_index') }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Community
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('community.show_youth') }}">Youth</a></li>
                <li><a class="dropdown-item" href="{{ url_for('community.show_engagement') }}">Engagement</a></li>
                <li><a class="dropdown-item" href="{{ url_for('community.show_schedule') }}">Schedule</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown hoverable">
              <a class="nav-link dropdown-toggle dropdownTitle" href="{{ url_for('store.show_index') }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Store
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('store.show_tickets') }}">Tickets</a></li>
                <li><a class="dropdown-item" href="{{ url_for('store.show_index') }}">Team Store</a></li>
                <li><a class="dropdown-item" href="{{ url_for('store.show_support') }}">Support</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown hoverable">
              <a class="nav-link dropdown-toggle dropdownTitle" href="{{ url_for('partners.show_index') }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Partners
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('partners.show_local_sponsors') }}">Local Sponsors</a></li>
                <li><a class="dropdown-item" href="{{ url_for('partners.show_partner') }}">Become a Partner</a></li>
                <li><a class="dropdown-item" href="{{ url_for('main.show_donate') }}">Make a Donation</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown hoverable">
              <a class="nav-link dropdown-toggle dropdownTitle" href="{{ url_for('partners.show_index') }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Contact Us
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="mailto:admin@greenvilleutd.com">Website Support</a></li>
                <li><a class="dropdown-item" href="mailto:store@greenvilleutd.com">Merchandise Support</a></li>
                <li><a class="dropdown-item" href="mailto:club@greenvilleutd.com">Club Support</a></li>
              </ul>
            </li>
          </ul>
          <div class="ms-auto">
            {% if inSeason %}
            <a href="{{ url_for('community.show_schedule') }}" class="text-decoration-none me-3">
              <div class="container schedule-btn">
                <div class="col">
                  <div class="row">
                    {{ match_date }}
                  </div>
                  <div class="row">
                    <div class="col">
                      {% if home %}
                      <h1>vs</h1>
                      {% else %}
                      <h1>@</h1>
                      {% endif %}
                    </div>
                    <div class="col">
                      <p>{{ opponent }}</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <img src="{{ img_src }}" alt="{{ img_title }}">
                </div>
              </div>
            </a>
            {% endif %}
            <a href="{{ url_for('main.show_donate') }}" class="text-decoration-none donate-btn btn">Donate</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container-fluid py-1" style="background-color: black;">
      <div class="container-sm">
        <div class="btn-group">
          <button type="button" class="btn store-nav">Adults</button>
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split store-nav" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Accessories</a></li>
            <li><a class="dropdown-item" href="#">Jerseys</a></li>
            <li><a class="dropdown-item" href="#">Hats</a></li>
          </ul>
        </div>
        <div class="btn-group">
          <button type="button" class="btn store-nav">Kids</button>
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split store-nav" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Accessories</a></li>
            <li><a class="dropdown-item" href="#">Jerseys</a></li>
            <li><a class="dropdown-item" href="#">Hats</a></li>
          </ul>
        </div>
        <div class="btn-group">
          <button type="button" class="btn store-nav" style="color: white;">Accessories</button>
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split store-nav" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Flags</a></li>
            <li><a class="dropdown-item" href="#">Decals</a></li>
            <li><a class="dropdown-item" href="#">Other</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  {% block header %} {% endblock %}
  <main role="main" class="pb-5" style="min-height: 80vh;">
    {% block main %}{% endblock %}
  </main>
  <footer style="background-color: var(--gufc-green); color: white;">
    <div class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-3 mx-3 px-md-1 px-4">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <img src="{{ url_for('static', filename='img/Greenville-Logo.png') }}" alt="Greenville United Logo" height="75px" class="rounded foot-logo">
        </a>
      </div>
      <ul class="col-md-4 justify-content-end list-unstyled d-flex align-items-center">
        <li class="ms-3">
          <a class="text-muted" href="https://www.instagram.com/greenvilleunited/" target="_blank">
            <img src="{{ url_for('static', filename='img/instagram.svg') }}" alt="Instagram Icon" class="rounded brand-ico" height="28em">
          </a>
        </li>
        <li class="ms-3">
          <a class="text-muted" href="https://twitter.com/GreenvilleUtd" target="_blank">
            <img src="{{ url_for('static', filename='img/twitter.svg') }}" alt="Twitter Icon" class="rounded brand-ico" height="28em">
          </a>
        </li>
        <li class="ms-3">
          <a class="text-muted" href="https://www.facebook.com/greenvilleutd" target="_blank">
            <img src="{{ url_for('static', filename='img/facebook-f.svg') }}" alt="Facebook Icon" class="rounded brand-ico" height="28em">
          </a>
        </li>
      </ul>
    </div>
    <div class="container-fluid text-center">
      <div class="row justify-content-start ps-2">
        <ul class="nav col-md-6 align-middle py-4">
          <li class="nav-item">© 2022 Greenville United Football Club.</li>
        </ul>
        <ul class="nav col-md-6 justify-content-end align-middle py-4">
          <li class="nav-item">
            <a href="{{ url_for('main.show_pp') }}" class="nav-link align-middle footer-link px-2">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('store.show_terms') }}" class="nav-link align-middle footer-link px-2">Terms and Conditions</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('partners.show_donation_pp') }}" class="nav-link align-middle footer-link px-2">Donation Policy</a>
          </li>
          <!-- <li class="nav-item">
            <a href="{{ url_for('main.show_site_map') }}" class="nav-link align-middle footer-link px-2">Site Map</a>
          </li> -->
          <li class="nav-item">
            <a href="mailto:admin@greenvilleutd.com" class="nav-link align-middle footer-link px-2">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="{{ url_for('static', filename='js/base.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  {% block js %}{% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>