{% extends 'base.html' %}

{% block css %}{% endblock %}

{% block main %}
<div class="container-sm">
    <div class="container py-4">
        <h1 class="display-5">Sponsors</h1>
        <p style="font-size: 1.5rem;">Thank you to our sponsors!</p>
    </div>
    <div class="container text-center py-4">
        <h1 class="display-6">Team Sponsors</h1>
        <hr>

    </div>
    <div class="container text-center py-4">
        <h1 class="display-6">Platinum Sponsors</h1>
        <hr>

    </div>
    <div class="container text-center py-4">
        <h1 class="display-6">Gold Sponsors</h1>
        <hr>

    </div>
    <div class="container text-center py-4">
        <h1 class="display-6">Silver Sponsors</h1>
        <hr>

    </div>
    <div class="container text-center py-4">
        <h1 class="display-6">Bronze Sponsors</h1>
        <hr>

    </div>
    <div class="container text-center py-4">
        <h1 class="display-6">Copper Sponsors</h1>
        <hr>

    </div>
    <div class="container text-center py-4">
        <h1 class="display-6">Business Partners</h1>
        <hr>

    </div>
    <div class="container text-center py-4">
        <h1 class="display-6">Community Sponsors</h1>
        <hr>
    </div>
</div>
{% endblock %}

{% block js %}{% endblock %}