/* Define CSS Variables */
:root {
    --gufc-green: #224A24;
    --gufc-yellow: #FACC68;
    --gray-yellow: #b5934a;
    --darker-green: #173119;
    --opaque-bg: rgba(255, 255, 255, 0.85);
}
.nav-link {
    color: var(--gufc-green);
}
.footer-link {
    color: var(--gufc-yellow);
}
.footer-link:hover {
    color: var(--gray-yellow);
}
.brand-ico {
    filter: invert(81%) sepia(54%) saturate(493%) hue-rotate(337deg) brightness(100%) contrast(96%);
}