/* Carousel Hero Stylings */
@media (max-width: 575.98px) {
    .hero-wrapper {
        display: none;
    }
}
.carousel-item > img {
    background-size: cover;
    
}

/* Spotlight Stylings */
.read-btn {
    background-color: var(--gufc-green);
    color: var(--gufc-yellow);
}

/* Social Media Stylings */
.tab-pane {
    min-height: 700px;
}

/* Partners Stylings */
#partners-div {
    color: var(--gufc-yellow);
    background-color: var(--gufc-green);
}

/* Local Sponsors Stylings */
#sponsors-div {
    background-color: var(--gufc-yellow);
    color: var(--gufc-green);
}

/* Newsletter Stylings */
#newsletter {
    background-color: var(--gufc-yellow);
    border: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    color: var(--gufc-green);
    border-radius: 1.0375em;
}
#subtn {
    border-radius: 5px;
    background: var(--gufc-yellow);
    box-shadow: 1px 1px 3px #d5ad58,
                -1px -1px 3px #ffeb78;
    color: var(--gufc-green);
}
#subtn:active {
    background: linear-gradient(145deg, #e1b85e, #ffda6f);
    border: none;
}
#subtn:hover {
    transform: scale(.95);
    transition: all .2s ease;
}