/* Carousel Hero Stylings */
@media (max-width: 575.98px) {
    .hero-wrapper {
        display: none;
    }
}
.carousel-item {
    max-height: 665px;
}
.carousel-item > img {
    background-size: cover;
}
.carousel-caption {
    color: var(--gufc-yellow);
    background-color: rgba(0, 0, 0, 0.75);
    padding: 0.375rem 1rem 0.375rem 1rem;
    border-radius: 0.3755rem;
}
.carousel-btn {
    background-color: var(--gufc-green);
    color: var(--gufc-yellow);
    transition: all ease-in-out 0.33s;
}
.carousel-btn:hover {
    background-color: var(--gufc-yellow);
    color: var(--gufc-green);
}

/* Spotlight Stylings */
.read-btn {
    background-color: var(--gufc-green);
    color: var(--gufc-yellow);
}
.card > img {
    max-height: 16rem;
    background-size: cover;
}

/* Social Media Stylings */
.tab-pane {
    min-height: 600px;
}

/* Partners Stylings */
#partners-div {
    color: var(--gufc-green);
    background-color: var(--gufc-yellow);
}
.partner-logos, .sponsor-logos {
    max-height: 200px;
    padding: 1rem;
}

/* Local Sponsors Stylings */
#sponsors-div {
    background-color: var(--gufc-green);
    color: var(--gufc-yellow);
}

/* Newsletter Stylings */
#newsletter {
    background-color: var(--gufc-yellow);
    border: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    color: var(--gufc-green);
    border-radius: 1.0375em;
}
#subtn {
    border-radius: 5px;
    background-color: var(--gufc-green);
    color: var(--gufc-yellow);
    border: 1px var(--gufc-green) solid;
}
#subtn:hover {
    background-color: var(--gufc-yellow);
    color: var(--gufc-green);
    transition: all .2s ease;
}