{% extends 'base.html' %}

{% block css %}
  
{% endblock %}

{% block main %}
<div class="container-sm">
    <iframe src="https://calendar.google.com/calendar/embed?height=700&wkst=1&bgcolor=%23E4C441&ctz=America%2FNew_York&showCalendars=0&showTabs=0&showPrint=1&showDate=1&showTitle=1&title=Greenville%20United%20Football%20Club%202022-23%20Event%20Calendar&src=MzY5MjhlZmVhZTY1MDEwMTA1ODBhZDMxMzE2MDM3ZGRkNjBlMDUxNWFjM2NiYTY0YzMzOWZlZGU4ZmQzYjg0ZUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23E67C73" style="border:solid 1px #777" width="900" height="700" frameborder="0" scrolling="no"></iframe>
</div>
{% endblock %}

{% block js %}
  
{% endblock %}