{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/about-base.css') }}">
{% endblock %}

{% block main %}
    <!-- Hero Title w/ background image -->
    <div class="hero">
        <div class="container-sm text-center py-5">
            <h1 class="display-6 border-bottom">{{ title }}</h1>
        </div>
    </div>
    <!-- Sub-nav bar -->
    <div class="container-fluid">
        <div class="container-sm">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('about.show_index') }}">About</a>
                </li>
                <div class="vr"></div>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('about.show_league') }}">League</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about.show_club') }}">Club</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about.show_team') }}">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about.show_players') }}">Players</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumbs object -->
    
    <!-- Larger Logo -->
{% endblock %}

{% block js %}
  
{% endblock %}