{% extends 'about/base.html' %}

{% block css %}
  {{ super() }}
{% endblock %}

{% block main %}
  {{ super() }}
  <div class="container-fluid">
    <div class="container-sm text-center">
      <img src="{{ url_for('static', filename='img/Greenville-Logo.png') }}" alt="GUFC Logo">
    </div>
    <div class="container-sm pt-3 pb-5">
      <p>A National Association member of the U.S. Soccer Federation, the National Association of Competitive Soccer Clubs (doing business as “US Club Soccer”) is a non-profit organization committed to the development and support of soccer clubs in the United States. Among US Club Soccer's guiding principles:</p>
      <ul>
        <li></li>
      </ul>
      <p></p>
      <p></p>
    </div>
  </div>
{% endblock %}

{% block js %}
  {{ super() }}
{% endblock %}